<div class="card" id ="simpleLineIcons">
    <div class="border-bottom title-part-padding">
      <h4 class="card-title mb-0">Simple Line Icons</h4>
    </div>
    <div class="card-body">
      <div class="icon-list-demo row">
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-user"></i><span>icon-user</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-people"></i><span>icon-people</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-user-female"></i><span>icon-user-female</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-user-follow"></i><span>icon-user-follow</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-user-following"></i><span>icon-user-following</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-user-unfollow"></i><span>icon-user-unfollow</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-login"></i><span>icon-login</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-logout"></i><span>icon-logout</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-emotsmile"></i><span>icon-emotsmile</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-phone"></i><span>icon-phone</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-call-end"></i><span>icon-call-end</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-call-in"></i><span>icon-call-in</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-call-out"></i><span>icon-call-out</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-map"></i><span>icon-map</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-location-pin"></i><span>icon-location-pin</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-direction"></i><span>icon-direction</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-directions"></i><span>icon-directions</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-compass"></i><span>icon-compass</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-layers"></i><span>icon-layers</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-menu"></i><span>icon-menu</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-list"></i><span>icon-list</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-options-vertical"></i><span>
          icon-options-vertical</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-options"></i><span>icon-options</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-down"></i><span>icon-arrow-down</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-left"></i><span>icon-arrow-left</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-right"></i><span>icon-arrow-right</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-up"></i><span>icon-arrow-up</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-up-circle"></i><span>icon-arrow-up-circle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-left-circle"></i><span>
          icon-arrow-left-circle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-right-circle"></i><span>
          icon-arrow-right-circle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-arrow-down-circle"></i><span>
          icon-arrow-down-circle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-check"></i><span>icon-check</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-clock"></i><span>icon-clock</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-plus"></i><span>icon-plus</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-close"></i><span>icon-close</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-trophy"></i><span>icon-trophy</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-screen-smartphone"></i><span>
          icon-screen-smartphone</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-screen-desktop"></i><span>icon-screen-desktop</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-plane"></i><span>icon-plane</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-notebook"></i><span>icon-notebook</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-mustache"></i><span>icon-mustache</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-mouse"></i><span>icon-mouse</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-magnet"></i><span>icon-magnet</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-energy"></i><span>icon-energy</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-disc"></i><span>icon-disc</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-cursor"></i><span>icon-cursor</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-cursor-move"></i><span>icon-cursor-move</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-crop"></i><span>icon-crop</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-chemistry"></i><span>icon-chemistry</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-speedometer"></i><span>icon-speedometer</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-shield"></i><span>icon-shield</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-screen-tablet"></i><span>icon-screen-tablet</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-magic-wand"></i><span>icon-magic-wand</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-hourglass"></i><span>icon-hourglass</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-graduation"></i><span>icon-graduation</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-ghost"></i><span>icon-ghost</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-game-controller"></i><span>icon-game-controller</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-fire"></i><span>icon-fire</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-eyeglass"></i><span>icon-eyeglass</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-envelope-open"></i><span>icon-envelope-open</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-envolope-letter"></i><span>icon-envolope-letter</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-bell"></i><span>icon-bell</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-badge"></i><span>icon-badge</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-anchor"></i><span>icon-anchor</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-wallet"></i><span>icon-wallet</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-vector"></i><span>icon-vector</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-speech"></i><span>icon-speech</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-puzzle"></i><span>icon-puzzle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-printer"></i><span>icon-printer</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-present"></i><span>icon-present</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-playlist"></i><span>icon-playlist</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-pin"></i><span>icon-pin</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-picture"></i><span>icon-picture</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-handbag"></i><span>icon-handbag</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-globe-alt"></i><span>icon-globe-alt</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-globe"></i><span>icon-globe</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-folder-alt"></i><span>icon-folder-alt</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-folder"></i><span>icon-folder</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-film"></i><span>icon-film</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-feed"></i><span>icon-feed</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-drop"></i><span>icon-drop</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-drawar"></i><span>icon-drawar</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-docs"></i><span>icon-docs</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-doc"></i><span>icon-doc</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-diamond"></i><span>icon-diamond</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-cup"></i><span>icon-cup</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-calculator"></i><span>icon-calculator</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-bubbles"></i><span>icon-bubbles</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-briefcase"></i><span>icon-briefcase</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-book-open"></i><span>icon-book-open</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-basket-loaded"></i><span>icon-basket-loaded</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-basket"></i><span>icon-basket</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-bag"></i><span>icon-bag</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-action-undo"></i><span>icon-action-undo</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-action-redo"></i><span>icon-action-redo</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-wrench"></i><span>icon-wrench</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-umbrella"></i><span>icon-umbrella</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-trash"></i><span>icon-trash</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-tag"></i><span>icon-tag</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-support"></i><span>.icon-support</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-frame"></i><span>icon-frame</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-size-fullscreen"></i><span>icon-size-fullscreen</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-size-actual"></i><span>icon-size-actual</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-shuffle"></i><span>icon-shuffle</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-share-alt"></i><span>icon-share-alt</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-share"></i><span>icon-share</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-rocket"></i><span>icon-rocket</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-question"></i><span>icon-question</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-pie-chart"></i><span>icon-pie-chart</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-pencil"></i><span>icon-pencil</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-note"></i><span>icon-note</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-loop"></i><span>icon-loop</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-home"></i><span>icon-home</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-grid"></i><span>icon-grid</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-graph"></i><span>icon-graph</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-microphone"></i><span>icon-microphone</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-music-tone-alt"></i><span>icon-music-tone-alt</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-music-tone"></i><span>icon-music-tone</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-earphones-alt"></i><span>icon-earphones-alt</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-earphones"></i><span>icon-earphones</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-equalizer"></i><span>icon-equalizer</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-like"></i><span>icon-like</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-dislike"></i><span>icon-dislike</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-start"></i><span>icon-control-start</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-rewind"></i><span>icon-control-rewind</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-play"></i><span>icon-control-play</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-pause"></i><span>icon-control-pause</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-forward"></i><span>icon-control-forward</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-control-end"></i><span>icon-control-end</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-volume-1"></i><span>icon-volume-1</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-volume-2"></i><span>icon-volume-2</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-volume-off"></i><span>icon-volume-off</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-calender"></i><span>icon-calender</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-bulb"></i><span>icon-bulb</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-chart"></i><span>icon-chart</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-ban"></i><span>icon-ban</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-bubble"></i><span>icon-bubble</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-camrecorder"></i><span>icon-camrecorder</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-camera"></i><span>icon-camera</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-cloud-download"></i><span>icon-cloud-download</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-cloud-upload"></i><span>icon-cloud-upload</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-eye"></i><span>icon-eye</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-flag"></i><span>icon-flag</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-heart"></i><span>icon-heart</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-info"></i><span>icon-info</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-key"></i><span>icon-key</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-link"></i><span>icon-link</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-lock"></i><span>icon-lock</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-lock-open"></i><span>icon-lock-open</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-magnifier"></i><span>icon-magnifier</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-magnifier-add"></i><span>icon-magnifier-add</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-magnifier-remove"></i><span>
          icon-magnifier-remove</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-paper-clip"></i><span>icon-paper-clip</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-paper-plane"></i><span>icon-paper-plane</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-power"></i><span>icon-power</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-refresh"></i><span>icon-refresh</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-reload"></i><span>icon-reload</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-settings"></i><span>icon-settings</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-star"></i><span>icon-star</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-symble-female"></i><span>icon-symble-female</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-symbol-male"></i><span>icon-symbol-male</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-target"></i><span>icon-target</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-credit-card"></i><span>icon-credit-card</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-paypal"></i><span>icon-paypal</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-tumblr"></i><span>icon-social-tumblr</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-twitter"></i><span>icon-social-twitter</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-facebook"></i><span>icon-social-facebook</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-instagram"></i><span>
          icon-social-instagram</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-linkedin"></i><span>icon-social-linkedin</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-pintarest"></i><span>
          icon-social-pintarest</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-github"></i><span>icon-social-github</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-gplus"></i><span>icon-social-gplus</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-reddit"></i><span>icon-social-reddit</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-skype"></i><span>icon-social-skype</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-dribbble"></i><span>icon-social-dribbble</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-behance"></i><span>icon-social-behance</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-foursqare"></i><span>
          icon-social-foursqare</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-soundcloud"></i><span>
          icon-social-soundcloud</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-spotify"></i><span>icon-social-spotify</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-stumbleupon"></i><span>
          icon-social-stumbleupon</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-youtube"></i><span>icon-social-youtube</span>
        </div>
        <div class="
            col-1 d-flex justify-content-center align-items-center text-center iconCtrn
            icon-hover
            text-truncate
            py-3
          ">
          <i class="icon-social-dropbox"></i><span>icon-social-dropbox</span>
        </div>
      </div>
    </div>
  </div>