<div class="d-flex flex-row align-items-center">
    <ul class="nav nav-tabs me-auto flex-grow-1" role="tablist">
        <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#HTML" role="tab" aria-selected="true">
            <span>HTML</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#CSS" role="tab" aria-selected="false">
            <span>CSS</span>
        </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#JS" role="tab" aria-selected="false">
            <span>JS</span>
        </a>
        </li>
    </ul>
    <button class="btn d-block btn-outline-secondary waves-effect waves-light" type="button">
        <i class="fas fa-copy"></i> Kopiuj
    </button>
</div>
  <div class="tab-content">
    <div class="tab-pane p-3 active" id="HTML" role="tabpanel">
      <pre class="p-3" id="outputHTML">
            html
      </pre>
    </div>
    <div class="tab-pane p-3" id="CSS" role="tabpanel">
        <pre class="p-3" id="outputCSS">
            css
        </pre>
    </div>
    <div class="tab-pane p-3" id="JS" role="tabpanel">
        <pre class="p-3" id="outputJS">
            js
        </pre>
    </div>
  </div>